.vagrant
*.pyc
*.pyo
__pycache__/
.python-version
*/.idea/dictionaries
*/.idea/misc.xml
*/.idea/modules.xml
*/.idea/nlpserver.iml
*/.idea/vcs.xml
*/.idea/workspace.xml
.cache
.eggs
UNKNOWN.egg-info
*.log
*.mp4
*.mp3
*.rm
*.jpg
*.h5
*.png
*.wav
*.pklz

.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/nepenthes_root.iml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
