<html>
<head>
  <title>gevent websocket test</title>
</head>
<body>
  <h1>test</h1>
  <div>
    <input name="send_input" id="send_input" />
    <input type="button" value="push" onclick="send_data()" />
  </div>
  <div>
    <textarea id="view"></textarea>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
var ws = new WebSocket("ws://127.0.0.1:8000/echo");
ws.onmessage = function(e) {
  $("#view").html($("#view").val() + e.data + "\n");
};
function send_data() {
  ws.send($("#send_input").val());
};
</script>
</body>
</html>